@charset "utf-8";

*,
::before,
::after{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

.title{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: auto;
  text-align: left;
}


.feature{
  display: flex;
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
}

.picture {
  display: flex;
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
}

@media (max-width: 800px){
  .feature {
    display: block;
    width: 500px;
    margin-top: 45px;
  }

  .feature-text {
    margin-right: 0;
  }

  .picture {
    width: 100%;
    height: auto;
    margin-top: 25px;
  }
}