@charset "utf-8";

*,
::before,
::after{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

.first-view {
  height: calc(100vh-110px);
  background-image: url(../images/index/bg-main.JPG);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-self: center;
}

.first-view-text{
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-bottom: 80px;
  color: cadetblue;
  font-weight:bold ;
  text-shadow: 1px 1px 10px #000000;
}

.first-view-text h1 {
  font-family: 'Montserrat',sans-serif;
  font-size: 56px;
  line-height: 72px;
}

.first-view-text p {
  font-size: 18px;
  margin-top: 20px;
}

.next-performance {
  background-color:  rgb(140, 172, 173);;
  padding-top: 45px;
  padding-bottom: 55px;
  padding-left: auto;
  padding-right: auto;
}

.next-performance h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-left: 100px;
  margin-right: auto;
}

.next-performance h2::after {
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #000000;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.next-performance h3 {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-bottom: 80px;
  color: darkred;
  font-weight:bold ;
  text-shadow: 1px 1px 10px #a5a0a0;
}

.lead {
  max-width: 1200px;
  margin: 60px auto;
}

.lead p {
  line-height: 2;
  text-align: center;
}

.link-button-area-1 {
  text-align: center;
  margin-top: 40px;
}

.link-button {
  background-color: blueviolet;
  display: inline-block;
  min-width: 180px;
  line-height: 48px;
  border-radius: 24px;
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.link-button:hover {
  background-color: darkviolet;
}

.past-performance {
  background-color:  rgb(140, 172, 173);;
  padding-top: 45px;
  padding-bottom: 55px;
  padding-left: auto;
  padding-right: auto;
}

.past-performance h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-left: 100px;
  margin-right: auto;
}

.past-performance h2::after {
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #000000;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.performance-list {
  display: flex;
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  overflow: scroll;

}

.performance-list li {
  flex-shrink: 0;
  width: 260px;
  margin-left: 75px;
}

.performance-list li img {
 width: 180px;
 height: 230px; 
}

.performance-list li:first-child {
  margin-left: 0;
}

.performance-list dl {
  margin-top: 20px;
}

.performance-list dt {
  font-weight: bold;
}

.performance-list dd {
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
}
.link-button-area-2 {
  text-align: center;
  margin-top: 40px;
}

.secret {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2,400px);
  grid-template-rows: repeat(4,100px);
  grid-template-areas: 
   "areaA areaB"
   "areaC areaB"
   "areaC areaB"
   "areaD areaB";
  row-gap: 10px;
  column-gap: 50px;
  max-width: 90%;
  padding-top: 45px;
  padding-bottom: 55px;
  margin-left: auto;
  margin-right: auto;

}

.secret-title-area {
  grid-area: areaA;
  margin-top: 30px;
  
}

.secret-title {
  text-align: center;
  background-color: #330000 ;;
  min-width: 300px;
  line-height: 48px;
  margin-top : auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
  width: 60%;
}

.secret-title h3 {
  color: white;;
  font-family: 'Montserrat',sans-serif;
}

.secret-text-area {
  grid-area: areaC;
  background-color:  rgb(214, 209, 211);;
}

.secret-text h4{
  color: #000000;
  text-align: center;
  width: 300px;
  max-width: 300px;
  line-height: 48px;
  margin-top: 15px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.laboratory{
  display: block;
  width: 200px;
  grid-area: areaB;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.link-button-area-3 {
  text-align: center;
  grid-area: areaD;
  overflow: hidden;
}


@media (max-width: 800px) {
  .first-view{
    height: calc(100vh-50px);
    background-image: url(../images/index/bg-main.JPG);
    align-items: flex-start;
  }

  .first-view-text{
    padding-top: 60px;
    padding-left: 20px;
  }

  .first-view-text h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .first-view-text p {
    font-size: 14px;
    margin-top: 15px;
  }

  .lead {
    padding-left: 20px;
    padding-right: 20px;
  }

  .lead p {
    text-align: left;
  }

  .performance-list {
    padding-left: 20px;
    padding-right: 20px;
  }

  .performance-list li{
    width: 220px;
    margin-left: 20px;
  }

  .secret{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
  }

  .laboratory{
    display: block;
    width: 100px;
   height: 100px;
   margin-left: 0%;
  }


  .secret-text h4{
    padding-left: 20px;
   padding-right: 20px;
  }

}